{% extends "universeunveiled/layout.html" %}

{% load static %}


{% block title %}
    About - Universe Unveiled
{% endblock %}

{% block picture %} 

<img class="pic img-fluid" src="{% static 'universeunveiled/jwstsombrero.png' %}" alt="sombrero galaxy">
<div class="overlay">
<br>
<div class="text">
    <h1 class="display-1">About</h1>
    <h4 class="display-4">Who, What, and Why</h4>
</div>
    <p style="text-align: right;">Sombrero Galaxy in Infrared, Credits: NASA, ESA, CSA, STScI</p>
</div>

{% endblock %}


{% block main %}
<h1>
    Author
</h1>
<hr>
<br><br>
<div class="paragraph">
    <i class="fa-solid fa-circle-user about-icon"></i>
    <h5>
    My name is Markus, I am 26 years old and I live in Sweden.
    I created <a target="_blank" style="color: rgb(224, 201, 255);" href="https://www.instagram.com/the.universe.unveiled/"><em>Universe Unveiled</em></a> on October 2022 as an outlet for my passion for astronomy.
    I've worked in construction ever since I finished high school, at the moment I am a mason.
    In February 2024 I started to study web programming and computer science related topics, mostly from Harvard's CS50 courses.
    I've always had an interest in computers (mostly through gaming most my life) and I feel like its a field I would fit in.
    </h5>
</div>
<br>
<div class="paragraph">
    <i class="fa-solid fa-rocket about-icon"></i>
    <h5>
    My interest in astronomy sparked in Mars of 2018 when I watched <a href="https://www.youtube.com/watch?v=Iy7NzjCmUf0&ab_channel=RealLifeLore" target="_blank" style="color: rgb(224, 201, 255);"><em>How the Universe is Way Bigger Than You Think </em> </a> by RealLifeLore.
    For the first time I really grasped the immense size of the universe and that led me into a rabbit-hole of looking for more information about the universe.
    <br><br>
    </h5>
</div>
<div class="paragraph">
    <i class="fa-solid fa-book-open about-icon"></i>
    <h5>
    I started watching <a href="https://www.youtube.com/@StarTalk" target="_blank" style="color: rgb(224, 201, 255);"><em>StarTalk</em></a>, a podcast hosted by astrophysicst Neil deGrasse Tyson.
    It really helped fuel my curiosity and deepen my understanding.
    I eventually felt that YouTube videos didn't go deep enough, not to the point that I wanted. So I started to read books by authors like Neil deGrasse Tyson, Stephen Hawking, Sean Carroll etc. to learn as much as I can.
    Books really broadened my understanding. Astronomy was the gateway to a fundamental understanding of science and physics in general. I quickly noticed that to understand the large, you have to understand the small.
</h5>
</div>
<br>
<div class="paragraph">
    <i class="fa-solid fa-wand-sparkles fa-rotate-180 about-icon"></i>
    <h5>
    In the autumn of 2018 I bought my first telescope. A 6" (15cm) Newtonian Reflector, which opened up the night sky in a whole new way.
    To see the stars and the planets with your own eyes, just further deepened my interest in astronomy to now being a passion.
    I've dabbled a small bit in citizen science <a href="https://www.zooniverse.org/" target="_blank" style="color: rgb(224, 201, 255);"><em>(Zooniverse)</em></a>, 
    helping professional astronomers with sorting large amount of data in various assignments, like star-light charts, transiting exoplanets and galaxy identification using radio data.
    <br><br>
    <em><strong>"But wait, you have no education in the very topics you talk about?"</strong></em>
    </h5>
</div>

<br><br><br>

<h1>Universe Unveiled</h1>
<hr>
<br><br>
<div class="paragraph">
    <i class="fa-solid fa-graduation-cap about-icon"></i>
    <h5>
        After years of watching videos online, reading books and filling my curiosity of science and astronomy, I really wanted to share what I know.
        <em>"But, many people do this, so why would you be any different?"</em>
        Because I have no formal education in the field.
        <em>"Isn't that a bad thing?"</em>
        No, not necessarily. Here's why:
    </h5>
</div> 
<br>
<div class="paragraph">
    <i class="fa-solid fa-brain about-icon"></i>
    <h5>
        I remember what its like not to know. If you've been formally educated for many years what may happen (but it doesn't have to) is that you have what is called the "Curse of Knowledge".
        Basic things are so ingrained that you dont remember what its like not to know them, so it can be hard to inuitively explain things.
        And that is one of my strengths. I have had to understand physics, astronomy, cosmology, astrophysics, quantum mechanics etc. not using math, but by trying to gain intuition and practical applicibility in the topics I've learned.
    </h5>
</div>        
<br>
<div class="paragraph">
    <i class="fa-solid fa-person-chalkboard about-icon"></i>
    <h5>
        I also like to teach in general, so the point of Universe Unveiled, is to be the one that can bridge the gap between science and the everyday person.
        I believe my unique background, skills and qualities coupled with a unwavering interest in widening my knowledge, can provide such a result.
        So, if you also consider yourself curious,<br>
        <em>Let's Unveil the Universe!</em>
    </h5>
</div>
{% endblock %}